.header {
  background: white;
  padding: 10px 0;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding-left: 43px;
  padding-right: 30px;
}
.header__image img {
  display: block;
  max-width: 150px;
  height: auto;
}
.header__right {
  display: flex;
  align-items: center;
}
.header__right p {
  color: #487CAD;
  font-size: 15px;
}
.header__right--close {
  color: #00A3E0;
  display: flex;
  align-items: center;
  margin-left: 40px;
}
.header__right--close span {
  color: #00A3E0;
  font-family: "GothamMedium";
}

@media screen and (max-width: 640px) {
  .header__right p {
    display: none;
  }
}
.banner {
  height: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner__adorno {
  position: absolute;
  left: 0;
  top: -100px;
}
.banner__item {
  margin-bottom: 80px;
}
.banner__cnt {
  max-width: 1100px;
  margin: auto;
  position: relative;
  width: 94%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner__cnt span {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Gotham";
  margin-bottom: 20px;
  font-size: 14px;
}
.banner__icon {
  position: absolute;
  width: 34px;
  height: 57px;
  border-radius: 34px;
  border: 1px solid #ffffff;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner__icon span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffffff;
  display: block;
  margin: auto;
}
.banner__icon img {
  display: block;
  margin: 0 auto;
  margin-bottom: 4px;
}

@media screen and (max-width: 640px) {
  .banner {
    height: 340px;
  }
  .banner__item {
    max-width: 230px;
  }
  .banner__adorno {
    top: -140px;
  }
}
.millas {
  display: flex;
  align-items: center;
}
.millas__bonos {
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
  display: block;
}
.millas__left {
  width: 50%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(20, 76, 142, 0.4);
}
.millas__left span {
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-bottom: 5px;
}
.millas__left p {
  font-size: 32px;
  color: #ffffff;
  font-family: "Gotham";
  margin-bottom: 10px;
}
.millas__right {
  width: 50%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(179.92deg, rgba(119, 172, 208, 0.4) 13.4%, rgba(119, 168, 208, 0.182714) 60.92%, rgba(119, 165, 208, 0) 99.93%);
}
.millas__title {
  text-align: center;
}
.millas__title h4 {
  font-weight: normal;
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 22px;
}
.millas__title p {
  font-size: 14px;
  color: #ffffff;
}
.millas__table {
  margin-top: 30px;
}
.millas__table table {
  width: 308px;
  border-collapse: collapse;
}
.millas__table table, .millas__table td, .millas__table th {
  border: 1px solid rgba(255, 255, 255, 0.6);
}
.millas__table th {
  font-size: 11px;
}
.millas__table td {
  font-size: 12px;
}
.millas__table td, .millas__table th {
  height: 40px;
  color: #ffffff;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .millas {
    flex-direction: column;
  }
  .millas__left {
    width: 100%;
    height: auto;
    padding: 50px 0;
  }
  .millas__right {
    width: 100%;
  }
}
.consumo {
  padding-top: 70px;
}
.consumo__title {
  margin-bottom: 45px;
}
.consumo__title h4 {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.consumo__title p {
  font-size: 14px;
  color: white;
  text-align: center;
}
.consumo__logro {
  display: flex;
  align-items: center;
  text-align: center;
  height: 64px;
  background: linear-gradient(270deg, rgba(142, 193, 226, 0) 4.58%, rgba(142, 193, 226, 0.5) 45.83%, rgba(142, 193, 226, 0) 96.67%);
  justify-content: center;
  width: 100%;
  margin-top: 56px;
}
.consumo__logro span {
  color: #ffffff;
  font-size: 14px;
}
.consumo__line {
  display: flex;
  max-width: 633px;
  margin: auto;
  position: relative;
}
.consumo__line--after {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 8px;
  background-color: #013065;
  border-radius: 8px;
  margin: auto;
  display: block;
}
.consumo__line--before {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  bottom: 0;
  transition: all 2s ease;
  width: 0%;
  height: 8px;
  background-color: #ffffff;
  border-radius: 8px;
  margin: auto;
  z-index: 1;
}
.consumo__item {
  height: 76px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.consumo__item.small {
  width: 160px;
  text-align: center;
  position: relative;
  z-index: 2;
}
.consumo__item.small:after {
  content: "";
  width: 2px;
  height: 21px;
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
}
.consumo__item.large {
  flex: 1;
}
.consumo__item span {
  color: #ffffff;
  font-size: 14px;
}
.consumo__text {
  margin-top: 75px;
  text-align: center;
}
.consumo__text p {
  color: #ffffff;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .consumo__line {
    width: 96%;
    margin: auto;
  }
}
.gracias {
  text-align: center;
  padding-top: 145px;
}
.gracias__text {
  margin-bottom: 130px;
  padding: 32px 0;
}
.gracias__text span {
  color: #ffffff;
  font-size: 14px;
  display: block;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.gracias__text h5 {
  font-weight: normal;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 24px;
}
.gracias__text p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}
.gracias__text p a {
  color: rgba(255, 255, 255, 0.5);
}
.gracias__icon {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  max-width: 242px;
  margin: auto;
  padding-bottom: 32px;
  padding-top: 32px;
}
.gracias__icon p {
  max-width: 189px;
  text-align: center;
  color: #ffffff;
  margin: auto;
  text-transform: uppercase;
}
.gracias__icon--figure {
  position: relative;
  margin-bottom: 20px;
}
.gracias__icon--figure:after {
  content: "";
  position: absolute;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  width: 40%;
  display: block;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.gracias__icon--figure:before {
  content: "";
  position: absolute;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  width: 40%;
  display: block;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.imgs {
  padding-bottom: 100px;
  position: relative;
}
.imgs__item {
  position: absolute;
  bottom: 0;
}
.imgs__item.left {
  left: 0;
}
.imgs__item.right {
  right: 0;
}

.image__fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 90px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .imgs__item {
    display: none;
  }
}
.login {
  display: flex;
  align-items: center;
  height: calc(100vh - 48px);
}
.login__left {
  width: 50%;
  background: linear-gradient(90.99deg, #004C97 23.06%, #003C77 99.15%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.login__right {
  width: 50%;
  height: 100%;
  background-color: #F8F8F8;
  padding-left: 100px;
  display: flex;
  align-items: center;
}
.login__cnt--title {
  font-size: 14px;
  color: #487CAD;
  margin-bottom: 15px;
  font-family: "GothamMedium";
}
.login__cnt--label {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 23px;
  margin-bottom: 4px;
  display: block;
  color: #040006;
}
.login__cnt--input {
  width: 320px;
  height: 42px;
  border-radius: 8px;
  border: 1px solid #97999B;
  padding: 15px 11px;
  font-size: 14px;
}
.login__cnt--btn {
  width: 166px;
  height: 36px;
  display: flex;
  align-items: center;
  background-color: #004C97;
  border-radius: 23px;
  color: #ffffff;
  justify-content: center;
  margin-top: 60px;
  font-size: 14px;
  text-decoration: none;
}
.login__accept {
  margin-top: 25px;
  display: flex;
  align-items: center;
}
.login__accept label {
  font-size: 12px;
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .login__right {
    padding-left: 20px;
  }
}
@media screen and (max-width: 768px) {
  .login {
    flex-direction: column;
  }
  .login__left {
    width: 100%;
  }
  .login__left img {
    max-width: 300px;
  }
  .login__right {
    width: 100%;
  }
}
.footer {
  background-color: #000000;
}
.footer__wrapper {
  height: 50px;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  width: 94%;
}
.footer__wrapper p {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 11px;
}

main {
  position: relative;
}

.download {
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat;
  background-color: #cdd2d6;
  overflow: hidden;
}
.download__wrapper {
  padding: 34px 0 23px 0;
  background: linear-gradient(90.08deg, #014E9E 51.57%, rgba(1, 78, 158, 0.670886) 70.45%, rgba(1, 78, 158, 0) 99.93%);
  max-width: 1200px;
  margin: auto;
  position: relative;
  width: 94%;
}
.download__left {
  color: #ffffff;
  line-height: 23px;
  font-size: 14px;
}
.download__left:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: #014e9e;
  width: 1000px;
}
.download__left p {
  max-width: 356px;
  margin: 20px 0;
}
.download__logos {
  display: flex;
  list-style-type: none;
  align-items: flex-start;
}
.download__logos--item a {
  display: block;
}
.download__logos--item img {
  display: block;
  max-width: 100%;
  margin: auto;
}

@media screen and (max-width: 960px) {
  .download {
    background-position: center;
  }
}
@media screen and (max-width: 640px) {
  .download {
    background-size: cover;
  }
  .download__logos {
    flex-direction: column;
  }
  .download__left p {
    margin: 5px 0 10px 0;
  }
  .download__left span {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Gotham";
  background: linear-gradient(90.99deg, #004C97 23.06%, #003C77 99.15%);
  background: #0C4281;
}

main {
  background-attachment: fixed;
}
