@import "config/_";
@import "components/_";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  font-family: "Gotham";
  background: linear-gradient(90.99deg, #004C97 23.06%, #003C77 99.15%);
  background: #0C4281;
}

main{
  background-attachment: fixed;
}