
.banner {
  height: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__adorno {
    position: absolute;
    left: 0;
    top: -100px;
  }
  &__item{
    margin-bottom: 80px;
  }
  &__cnt {
    max-width: 1100px;
    margin: auto;
    position: relative;
    width: 94%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      display: block;
      text-align: center;
      text-transform: uppercase;
      color: $c-white;
      font-family: $f-gotham;
      margin-bottom: 20px;
      font-size: 14px;
    }
  }
  &__icon {
    position: absolute;
    width: 34px;
    height: 57px;
    border-radius: 34px;
    border: 1px solid $c-white;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    span {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $c-white;
      display: block;
      margin: auto;
    }

    img {
      display: block;
      margin: 0 auto;
      margin-bottom: 4px;
    }
  }
}

@media screen and (max-width: 640px){
  .banner{
    height: 340px;
    &__item{
      max-width: 230px;
    }
    &__adorno{
      top: -140px;
    }
  }
}