


.consumo{
  padding-top: 70px;
  &__title{
    margin-bottom: 45px;
    h4 {
      color: $c-white;
      font-size: 30px;
      text-align: center;
      margin-bottom: 20px;
    }
    p {
      font-size: 14px;
      color: white;
      text-align: center;
    }
  }
  &__logro {
    display: flex;
    align-items: center;
    text-align: center;
    height: 64px;
    background: linear-gradient(270deg, rgba(142, 193, 226, 0) 4.58%, rgba(142, 193, 226, 0.5) 45.83%, rgba(142, 193, 226, 0) 96.67%);
    justify-content: center;
    width: 100%;
    margin-top: 56px;
    span {
      color: $c-white;
      font-size: 14px;
    }
  }
  &__line {
    display: flex;
    max-width: 633px;
    margin: auto;
    position: relative;
    &--after {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 8px;
      background-color: #013065;
      border-radius: 8px;
      margin: auto;
      display: block;
    }
    &--before {
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      bottom: 0;
      transition: all 2s ease;
      width: 0%;
      height: 8px;
      background-color: $c-white;
      border-radius: 8px;
      margin: auto;
      z-index: 1;
    }
  }
  &__item {
    height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &.small {
      width: 160px;
      text-align: center;
      position: relative;
      z-index: 2;
      &:after {
        content: "";
        width: 2px;
        height: 21px;
        position: absolute;
        inset: 0;
        margin: auto;
        border-radius: 2px;
        background-color: rgba(255, 255, 255, .5);
      }
    }
    &.large{
      flex: 1;
    }


    span {
      color: $c-white;
      font-size: 14px;
    }
  }
  &__text {
    margin-top: 75px;
    text-align: center;
    p {
      color: $c-white;
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 768px){
  .consumo{
    &__line {
      width: 96%;
      margin: auto;
    }
  }
}