main{
  position: relative;
}
.download {
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat;
  background-color: #cdd2d6;
  overflow: hidden;
  &__wrapper {
    padding: 34px 0 23px 0;
    background: linear-gradient(90.08deg, #014E9E 51.57%, rgba(1, 78, 158, 0.670886) 70.45%, rgba(1, 78, 158, 0) 99.93%);
    max-width: 1200px;
    margin: auto;
    position: relative;
    width: 94%;
  }
  &__left {
    color: $c-white;
    line-height: 23px;
    font-size: 14px;

    &:after {
      content: "";
      position: absolute;
      right: 100%;
      top: 0;
      bottom: 0;
      height: 100%;
      background-color: #014e9e;
      width: 1000px;
    }
    p {
      max-width: 356px;
      margin: 20px 0;
    }
  }

  &__logos {
    display: flex;
    list-style-type: none;
    align-items: flex-start;
    &--item{
      a{
        display: block;
      }
      img {
        display: block;
        max-width: 100%;
        margin: auto;
      }
    }
  }
}

@media screen and (max-width: 960px){
  .download{
    background-position: center;
  }
}

@media screen and (max-width: 640px){
  .download{
    background-size: cover;
    &__logos{
      flex-direction: column;
    }
    &__left{
      p{
        margin: 5px 0 10px 0;
      }
      span {
        display: none;
      }
    }
  }
}

