.footer {
  background-color: $c-black;

  &__wrapper {
    height: 50px;
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    width: 94%;
    p {
      color: $c-white;
      text-transform: uppercase;
      font-size: 11px;
    }
  }
}
