.gracias {
  text-align: center;
  padding-top: 145px;
  &__text{
    margin-bottom: 130px;
    padding: 32px 0;
    span {
      color: $c-white;
      font-size: 14px;
      display: block;
      margin-bottom: 30px;
      text-transform: uppercase;
    }
    h5 {
      font-weight: normal;
      font-size: 24px;
      color: $c-white;
      margin-bottom: 24px;
    }
    p{
      font-size: 12px;
      color: rgba(255,255,255,.5);
      a{
        color: rgba(255,255,255,.5);
      }
    }
  }
  &__icon {
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    max-width: 242px;
    margin: auto;
    padding-bottom: 32px;
    padding-top: 32px;
    p {
      max-width: 189px;
      text-align: center;
      color: $c-white;
      margin: auto;
      text-transform: uppercase;
    }
    &--figure {
      position: relative;
      margin-bottom: 20px;
      &:after {
        content: "";
        position: absolute;
        height: 2px;
        background: rgba(255, 255, 255, 0.3);
        width: 40%;
        display: block;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
      &:before {
        content: "";
        position: absolute;
        height: 2px;
        background: rgba(255, 255, 255, 0.3);
        width: 40%;
        display: block;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
}
.imgs {
  padding-bottom: 100px;
  position: relative;
  &__item {
    position: absolute;
    bottom: 0;
    &.left{
      left: 0;
    }
    &.right{
      right: 0;
    }
  }
}
.image__fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 90px;
  width: 100%;
}

@media screen and (max-width: 768px){
  .imgs{
    &__item{
      display: none;
    }
  }
}