.header{
  background: white;
  padding: 10px 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding-left: 43px;
    padding-right: 30px;
  }
  &__image{
    img {
      display: block;
      max-width: 150px;
      height: auto;
    }
  }
  &__right{
    display: flex;
    align-items: center;
    p{
      color: $c-blue;
      font-size: 15px;
    }
    &--close {
      color: $c-blue-light;
      display: flex;
      align-items: center;
      margin-left: 40px;
      span {
        color: $c-blue-light;
        font-family: $f-gotham-medium;
      }
    }
  }
}

@media screen and (max-width: 640px){
  .header{
    &__right{
      p{
        display: none;
      }
    }
  }
}