.login {
  display: flex;
  align-items: center;
  height: calc(100vh - 48px);
  &__left {
    width: 50%;
    background: linear-gradient(90.99deg, #004C97 23.06%, #003C77 99.15%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  &__right {
    width: 50%;
    height: 100%;
    background-color: #F8F8F8;
    padding-left: 100px;
    display: flex;
    align-items: center;
  }
  &__cnt {
    &--title {
      font-size: 14px;
      color: $c-blue;
      margin-bottom: 15px;
      font-family: $f-gotham-medium;
    }

    &--label {
      font-size: 14px;
      text-transform: uppercase;
      line-height: 23px;
      margin-bottom: 4px;
      display: block;
      color: #040006;
    }

    &--input {
      width: 320px;
      height: 42px;
      border-radius: 8px;
      border: 1px solid #97999B;
      padding: 15px 11px;
      font-size: 14px;
    }
    &--btn {
      width: 166px;
      height: 36px;
      display: flex;
      align-items: center;
      background-color: #004C97;
      border-radius: 23px;
      color: $c-white;
      justify-content: center;
      margin-top: 60px;
      font-size: 14px;
      text-decoration: none;
    }
  }
  &__accept {
    margin-top: 25px;
    display: flex;
    align-items: center;
    label {
      font-size: 12px;
      margin-left: 4px;
    }
  }
}

@media screen and (max-width: 960px){
  .login{
    &__right{
      padding-left: 20px;
    }
  }
}

@media screen and (max-width: 768px){
  .login{
    flex-direction: column;
    &__left{
      width: 100%;
      img{
        max-width: 300px;
      }
    }
    &__right{
      width: 100%;
    }
  }
}