
.millas {
  display: flex;
  align-items: center;
  &__bonos {
    color: $c-white;
    font-size: 11px;
    text-align: center;
    margin-top: 10px;
    display: block;
  }
  &__left {
    width: 50%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(20, 76, 142, .4);
    span {
      font-size: 14px;
      color: $c-white;
      text-transform: uppercase;
      display: block;
      text-align: center;
      margin-bottom: 5px;
    }
    p {
      font-size: 32px;
      color: $c-white;
      font-family: $f-gotham;
      margin-bottom: 10px;
    }
  }
  &__right {
    width: 50%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(179.92deg, rgba(119, 172, 208, 0.4) 13.4%, rgba(119, 168, 208, 0.182714) 60.92%, rgba(119, 165, 208, 0) 99.93%);;
  }
  &__title{
    text-align: center;
    h4 {
      font-weight: normal;
      color: $c-white;
      margin-bottom: 10px;
      font-size: 22px;
    }
    p {
      font-size: 14px;
      color: $c-white;
    }
  }
  &__table{
    margin-top: 30px;
    table{
      width: 308px;
      border-collapse: collapse;
    }
    table, td, th {
      border: 1px solid rgba(255,255,255,.6);
    }
    th{
      font-size: 11px;
    }
    td{
      font-size: 12px;
    }
    td, th{
      height: 40px;
      color: $c-white;
      text-align: center;
    }
  }
}

@media screen and(max-width: 768px){
  .millas {
    flex-direction: column;
    &__left {
      width: 100%;
      height: auto;
      padding: 50px 0;
    }
    &__right{
      width: 100%;
    }
  }
}